body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 100%;
	display: inline-grid;
  grid-template-columns: 20% 20% 20% 20%;
  align-content: center;
}
svg {
  background: #eee;
  width: 140px;
  height: 140px;
  margin: 3%;
}
.svg-0:hover path {
  d: path("M5,5 L0,5")
}
.rect-spiral:hover path {
  d: path("M50,50 l0,6 l6,0 l0,-12 l-12,0 l0,18 l18,0 l0,-24 l-24,0 l0,30 l30,0 l0,-36 l-36,0 l0,42 l42,0 l0,-48 l-48,0 l0,54 l54,0 l0,-60 l-60,0 l0,66 l66,0 l0,-72 l-72,0 l0,78 l78,0 l0,-84 l-84,0")
}
.svg-1:hover path {
  d: path("M8,2 L2,8");
}
.svg-2:hover path {
  d: path("M2,2 L5,8 L8,2");
}
.svg-3:hover path {
  d: path("M2,2 Q2,8 8,8");
}
.svg-4:hover path {
  d: path("M2,5 C2,2 8,2 8,5");
}
.svg-5:hover path {
  d: path("M3,3 L8,3 L2,5 L8,5 L3,7 L7,7");
}
.svg-6:hover path {
  d: path("M2,5 A 5 25 -15 0 1 8 8");
}
.svg-7:hover path {
  d: path("M2,5 S2,14 4,5 S7,8 8,4")
}
.svg-8:hover path {
  d: path("M5,2 Q 8,5 5,8")
}
.svg-9:hover path {
  d: path("M2,2 Q8,2 5,5 T8,8")
}

svg polyline,
svg line,
svg path {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: 0.2s;
}



